# Large Data Files
data
thimbles/resources/g2_mp_giant.h5

# Project Files
.project
.pydevproject
.settings

# Compiled Files
*.py[c,w,f]

#emacs old files
*~
\#*\#

#backup files
*.bak

#test junk
thimbles/radtran/tests/batch.par
thimbles/radtran/tests/*.tmp